<!DOCTYPE html>
<html>
  <head>        
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>About Us</title>
    
    <link rel="icon" type="image/x-icon" href="/web/static/img/favicon.ico" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="/web/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/web/static/css/aboutus.css" rel="stylesheet" /> 
  </head>

  <body class="aboutus-page">
    
    {{template "header.html"}}  

    <main class="main">

      <!-- Page Title -->
      <div class="page-title">
        <div class="heading">
          <div class="container">
            <div class="row d-flex justify-content-center text-center">
              <div class="col-lg-8">
                <h1>Conoce más sobre QuickCloud</h1>
                <p class="mb-0">
                  QuickCloud nace del poco uso de recursos de los computadores de la Universidad del Quindío.
                  Con ayuda de la computación en la nube se crea esta aplicación con el fin de que los estudiantes
                  de la Universidad puedan hacer uso de estos recursos con tan solo conectarse a una página web.
                </p>
              </div>
            </div>
          </div>
        </div>
        <nav class="breadcrumbs">
          <div class="container">
            <ol>
              <li><a href="/#">Home</a></li>
              <li class="current">Cónocenos</li>
            </ol>
          </div>
        </nav>
      </div><!-- End Page Title -->


      <!------ SECTION ITERACION #3 ------>
      <section id="team" class="team section light-background">

        <div class="container section-title">
          <h2>Equipo Iteración #3</h2>
          <p>Grupo de trabajo encargado del proyecto en 2024-2</p>
        </div>

        <div class="container">
          <div class="row gy-5">

            <div class="col-lg-3 col-md-6 member">
              <div class="member-img">
                <img src="https://avatars.githubusercontent.com/u/64759997?v=4" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://www.linkedin.com/in/acosjulioo/" target="_blank"><i class="bi bi-linkedin"></i></a>
                  <a href="https://github.com/YanTic" target="_blank"><i class="bi bi-github"></i></a>
                </div>
              </div>
              <div class="member-info text-center">
                <h4>Julián Acosta Taborda</h4>
                <span>Ingeniero</span>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 member">
              <div class="member-img">
                <img src="https://avatars.githubusercontent.com/u/111707857?v=4" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://www.linkedin.com/in/jos%C3%A9-alejandro-zambrano-98155b279/" target="_blank"><i class="bi bi-linkedin"></i></a>
                  <a href="https://github.com/Alejandro-Zam" target="_blank"><i class="bi bi-github"></i></a>
                </div>
              </div>
              <div class="member-info text-center">
                <h4>Jose Alejandro Zambrano Jimenez</h4>
                <span>Ingeniero</span>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 member">
              <div class="member-img">
                <img src="https://avatars.githubusercontent.com/u/106280663?v=4" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://www.linkedin.com/in/andr%C3%A9s-mauricio-duss%C3%A1n-bastidas-04846426b/" target="_blank"><i class="bi bi-linkedin"></i></a>
                  <a href="https://github.com/Andres-Shadow" target="_blank"><i class="bi bi-github"></i></a>
                </div>
              </div>
              <div class="member-info text-center">
                <h4>Andrés Mauricio Dussán Bastidas</h4>
                <span>Ingeniero</span>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 member">
              <div class="member-img">
                <img src="https://avatars.githubusercontent.com/u/87148694?v=4" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://www.linkedin.com/in/sebastian-burgos-puentes-218023247/" target="_blank"><i class="bi bi-linkedin"></i></a>
                  <a href="https://github.com/SebastianBurgos" target="_blank"><i class="bi bi-github"></i></a>
                </div>
              </div>
              <div class="member-info text-center">
                <h4>Sebastian Burgos Puentes</h4>
                <span>Ingeniero</span>
              </div>
            </div>

          </div>
        </div>

      </section><!-- /Team Section -->


      <!------ SECTION ITERACION #2 ------>
      <section id="team" class="team section light-background">

        <div class="container section-title">
          <h2>Equipo Iteración #2</h2>
          <p>
            Grupo de trabajo que desarrolló y mejoró el proyecto QuickCloud durante 2024-1. 
            Además de agregar nuevas funcionalidades: despliegue y contenedores.
          </p>
        </div>

        <div class="container">
          <div class="row gy-5">
            
            <div class="col-lg-3 col-md-6 member">
              <div class="member-img">
                <img src="https://avatars.githubusercontent.com/u/91347621?v=4" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://www.linkedin.com/in/pablo-andres-lozano-577b79299/" target="_blank"><i class="bi bi-linkedin"></i></a>
                  <a href="https://github.com/pabloMaster123" target="_blank"><i class="bi bi-github"></i></a>
                </div>
              </div>
              <div class="member-info text-center">
                <h4>Pablo Andres Lozano Sanchez</h4>
                <span>Ingeniero</span>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 member">
              <div class="member-img">
                <img src="https://avatars.githubusercontent.com/u/78399283?v=4" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://www.linkedin.com/in/joshuaosoriopuerta/" target="_blank"><i class="bi bi-linkedin"></i></a>
                  <a href="https://github.com/tarttaros" target="_blank"><i class="bi bi-github"></i></a>
                </div>
              </div>
              <div class="member-info text-center">
                <h4>Joshua Alexander Osorio Puerta</h4>
                <span>Ingeniero</span>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 member">
              <div class="member-img">
                <img src="https://avatars.githubusercontent.com/u/91228090?v=4" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://www.linkedin.com/in/luis-felipe-toro-valencia-8abb54265/" target="_blank"><i class="bi bi-linkedin"></i></a>
                  <a href="https://github.com/LuisFelipeToro" target="_blank"><i class="bi bi-github"></i></a>
                </div>
              </div>
              <div class="member-info text-center">
                <h4>Luis Felipe Toro Valencia</h4>
                <span>Ingeniero</span>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 member">
              <div class="member-img">
                <img src="https://avatars.githubusercontent.com/u/80227865?v=4" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://www.linkedin.com/in/miguel-angel-hernandez-torres-414214221/" target="_blank"><i class="bi bi-linkedin"></i></a>
                  <a href="https://github.com/MiranditaTheBoss1" target="_blank"><i class="bi bi-github"></i></a>
                </div>
              </div>
              <div class="member-info text-center">
                <h4>Miguel Angel Hernandez Torres</h4>
                <span>Ingeniero</span>
              </div>
            </div>

          </div>
        </div>

      </section>


      <!------ SECTION ITERACION #1 ------>
      <section id="team" class="team section light-background">

        <div class="container section-title">
          <h2>Equipo Iteración #1</h2>
          <p>
            Primer grupo que desarrolló el proyecto QuickCloud. Teniendo inicialmente dos proyectos por 
            separado, ambos encargados de crear una aplicación web que permitiera la gestión y creación de 
            máquinas virtuales.
          </p>
        </div>

        <div class="container">
          <div class="row gy-5">

            <div class="col-lg-3 col-md-6 member">
              <div class="member-img">
                <img src="/web/static/img/donomar.png" class="img-fluid" alt="">
                <div class="social">
                  <!-- <a href="#"><i class="bi bi-linkedin"></i></a> -->
                </div>
              </div>
              <div class="member-info text-center">
                <h4>-</h4>
                <span>Quien?</span>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 member">
              <div class="member-img">
                <img src="/web/static/img/donomar.png" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://www.linkedin.com/in/jhostil/" target="_blank"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info text-center">
                <h4>Jhoiner Stiven Lopez</h4>
                <span>Ingeniero</span>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 member">
              <div class="member-img">
                <img src="/web/static/img/donomar.png" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://www.linkedin.com/in/john-edward-fajardo-londo%C3%B1o-44883a295/" target="_blank"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info text-center">
                <h4>John Edward Fajardo Londoño</h4>
                <span>Ingeniero</span>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 member">
              <div class="member-img">
                <img src="/web/static/img/donomar.png" class="img-fluid" alt="">
                <div class="social">
                  <!-- <a href="#"><i class="bi bi-linkedin"></i></a> -->
                </div>
              </div>
              <div class="member-info text-center">
                <h4>-</h4>
                <span>Quien?</span>
              </div>
            </div>

          </div>
        </div>

      </section>


      <!------ SECTION DIRECTOR SEMINARIO DE GRADO ------>
      <section id="team" class="team section light-background">

        <div class="container section-title">
          <h2>Director Seminario de Grado</h2>
          <p>Profesor encargado de dirigir el proyecto durante todas las iteraciones</p>
        </div>

        <div class="container ">
          <div class="row gy-5 justify-content-center text-center">

            <div class="col-lg-3 col-md-6 member">
              <div class="member-img">
                <img src="https://avatars.githubusercontent.com/u/9613293?v=4" class="img-fluid" alt="">
                <div class="social">
                  <!-- <a href="#"><i class="bi bi-linkedin"></i></a> -->
                  <a href="https://github.com/carloseg" target="_blank"><i class="bi bi-github"></i></a>
                </div>
              </div>
              <div class="member-info text-center">
                <h4>Carlos Eduardo Gomez Montoya</h4>
                <span>Director</span>
              </div>
            </div>

          </div>
        </div>

      </section>

    </main>

    {{template "footer.html"}}

  </body>
</html>
