<!DOCTYPE html>
<html>

<head>

  <title>Desktop Cloud Uniquindio</title>
  <link rel="icon" type="image/x-icon" href="/web/static/img/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="/web/static/css/mainpage.css">
  <link rel="stylesheet" type="text/css" href="/web/static/css/styleControlMachine.css">

  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- JS propios (como estos usan JQuery deben estar despues de importar JQuery) -->
  <script src="/web/static/js/mainpage.js"></script>
  <script src="/web/static/scriptjs/controleMachineScripts.js"></script>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="/web/static/bootstrap/css/bootstrap.min.css">
  <link href="/web/static/css/styles.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

  <!-- FontAwesome Icons -->
  <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
  <script src="/web/static/bootstrap/js/bootstrap.bundle.min.js"></script>

</head>

<body style="background-color: #d9d9d9ff;">

  <!-- NAVBAR -->
  {{template "mainpage-navbar.html"}}

  <div id="layoutSidenav">

    <!-- Sidebar -->
    <!-- Nota: Cuando se le pone el '.' al final de este llamado del template sidebar es para -->
    <!--       mandar los datos-variables que son asignados a este html a traves del handler -->
    <!--       En este caso: email, machines, rol-->
    {{template "mainpage-sidebar.html" .}}

    <div id="layoutSidenav_content">

      <main>

        <div id="alert-container"
          style="display:none; position: fixed; top: 10px; left: 50%; transform: translateX(-50%); z-index: 9999; width: 80%;">
          <div id="alert-message" class="alert" role="alert">
          </div>
        </div>

        <div class="px-2 py-2">

          <div style="display: flex; align-items: center; justify-content: space-between;">
            <div>
              <h1 style="font-family: 'Arial', sans-serif; color: #333;">Máquinas Virtuales</h1>
            </div>
            <div class="centrar-botones">
              <a class="btn btn-primary" href="/mainpage/control-machine/create-machine"
                style="margin-top: 10px; font-family: 'Arial', sans-serif; background-color: #337ab7; border-color: #2e6da4;">
                Crear Máquina Virtual
                <i class="fa-solid fa-circle-plus"></i>
              </a>

            </div>
          </div>

          <div class="table container">
            <table id="machine-table">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>IP</th>
                  <th>Distribución</th>
                  <th>Estado</th>
                  <th>Control</th>
                </tr>
              </thead>
              <tbody>
                <!-- Los datos se cargarán aquí dinámicamente -->
              </tbody>
            </table>
          </div>

          <div id="VentanaEmergenteEliminacion" class="ventana-emergente">
            <button type="button" class="btn-close" aria-label="Cerrar ventana"
              onclick="cerrarVentanaEmergenteEliminar()"></button>

            <h2 class="centre-tittle">CONFIRMACIÓN DE ELIMINACIÓN</h2>
            <div class="form-group" style="text-align: center;">
              <label for="vmnameCreate">¿Está seguro que desea eliminar la máquina virtual?</label>
              <div style="text-align: center;">
                <input type="text" class="form-control" id="vmnameDelete" name="vmnameDelete" required readonly
                  style="background-color: #f2f2f2; width: 100%;cursor: not-allowed; text-align: center; margin-top: 20px;">
              </div>
            </div>

            <div class="centrar-botones" style="margin-top: 20px;">
              <button onclick="deleteMachine()"
                style="background-color: rgba(255, 0, 0, 0.687); width: 100px; margin-right: 10px;"
                class="btn btn-Succes">ELIMINAR</button>
              <button type="button" onclick="cerrarVentanaEmergenteEliminar()"
                style="background-color: rgba(73, 122, 73, 0.723); width: 100px; margin-left: 10px;"
                class="btn btn-Succes">CANCELAR</button>
            </div>
          </div>

          <div id="VentanaEmergenteInformacion" class="ventana-emergente">
            <button type="button" class="btn-close" aria-label="Cerrar ventana"
              onclick="cerrarVentanaEmergenteInformacion()"></button>

            <form action="">
              <h1 class="centre-tittle">INFORMACIÓN DE LA MÁQUINA</h1>
              <ul style="margin-top: 30px;">
                <li>
                  <strong>Nombre:</strong>
                  <span id="nombreSpan"></span>
                </li>
                <li>
                  <strong>Sistema Operativo:</strong>
                  <span id="sistemaOperativoSpan"></span>
                </li>
                <li>
                  <strong>Distribución:</strong>
                  <span id="distribucionSpan"></span>
                </li>
                <li>
                  <strong>CPU:</strong>
                  <span id="cpuSpan"></span>
                </li>
                <li>
                  <strong>Memoria:</strong>
                  <span id="memoriaSpan"></span>
                </li>
                <li>
                  <strong>Estado:</strong>
                  <span id="estadoSpan"></span>
                </li>
                <li>
                  <strong>IP:</strong>
                  <span id="ipSpan"></span>
                </li>
                <li>
                  <strong>Hostname:</strong>
                  <span id="hostnameSpan"></span>
                </li>
                <li>
                  <strong>Contraseña:</strong>
                  <span id="passwordSpan"></span>
                </li>
                <li>
                  <strong>Url de Conexión:</strong>
                  <span id="urlSpan"></span>
                </li>
              </ul>
            </form>
          </div>

      </main>

      <!-- Footer -->
      <div class="bg-light mt-auto">
        {{template "mainpage-footer.html"}}
      </div>

    </div>
  </div>

  <script>
    function showAlert(message, alertType) {
      var alertBox = document.getElementById("alert-message");
      alertBox.innerText = message;
      alertBox.className = "alert alert-" + alertType;
      var alertContainer = document.getElementById("alert-container");
      alertContainer.style.display = "block";

      // Ocultar la alerta después de 5 segundos (5000 milisegundos)
      setTimeout(function () {
        alertContainer.style.display = "none";
      }, 5000);
    }

    function deleteMachine() {
      vm_name = document.getElementById("vmnameDelete").value;

      fetch('/api/deleteMachine', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json', },
        body: JSON.stringify({ vm_name: vm_name, }),
      })
        .then(response => {
          if (response.status === 200) {
            return response.json();
          } else if (response.status === 400 || response.status === 500) {
            return response.json();
          } else {
            throw new Error('Error en el servidor web | response status raro');
          }
        })
        .then(data => {
          if (data.SuccessMessage) {
            const successMessage = data.SuccessMessage;
            showAlert(successMessage, "success");
          } else if (data.ErrorMessage) {
            const errorMessage = data.ErrorMessage;
            showAlert(errorMessage, "danger");
          }
        })
        .catch(error => {
          showAlert("Error al realizar la solicitud al servidor: " + error, "danger");
          console.error('Error: ' + error);
        })
      cerrarVentanaEmergenteEliminar();
    }

  </script>
</body>

</html>