<!DOCTYPE html>
<html>

<head>

  <title>Desktop Cloud Uniquindio</title>
  <link rel="icon" type="image/x-icon" href="/web/static/img/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="/web/static/css/styleControlMachine.css">

  <!-- Este CSS es para todos los archivos mainpage-* (los html importados pues)-->
  <link rel="stylesheet" type="text/css" href="/web/static/css/mainpage.css">
  <!-- Este CSS es para lo que está dentro del <main> (principalmente lo de create-machine.html) -->
  <link rel="stylesheet" type="text/css" href="/web/static/css/create-machine.css">

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/web/static/js/mainpage.js"></script>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="/web/static/bootstrap/css/bootstrap.min.css">
  <link href="/web/static/css/styles.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

  <!-- FontAwesome Icons -->
  <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
  <script src="/web/static/bootstrap/js/bootstrap.bundle.min.js"></script>

</head>

<body style="background-color: #d9d9d9ff;">

  <!-- NAVBAR -->
  {{template "mainpage-navbar.html"}}  

  <div id="layoutSidenav">

    <!-- Sidebar -->
    <!-- Nota: Cuando se le pone el '.' al final de este llamado del template sidebar es para -->
    <!--       mandar los datos-variables que son asignados a este html a traves del handler -->
    <!--       En este caso: email, machines, rol-->
    {{template "mainpage-sidebar.html" .}}    

    <div id="layoutSidenav_content">      
      
      <div id="errorMessage" class="alert alert-danger alert-dismissible fade show" role="alert" style="display:none; position: fixed; top: 10px; left: 50%; transform: translateX(-50%); z-index: 9999; width: 80%;">
        {{ .message }}
        <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

      <div id="alert-container" style="display:none; position: fixed; top: 10px; left: 50%; transform: translateX(-50%); z-index: 9999; width: 80%;">
        <div id="alert-message" class="alert" role="alert">
        </div>
      </div>

      <main>

        <div class="px-4">
          <!-- Breadcrumb -->
          <div class="breadcrumb-instance">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/mainpage/control-machine">Máquinas</a></li>
                <li><i class="fa-solid fa-angle-right"></i></li>
                <li class="breadcrumb-item active" aria-current="page">Crea una máquina</li>
              </ol>
            </nav>
          </div>

          <div>
            <h3>
              Crea una máquina
            </h3>
            <p>
              Desktop Cloud te permite crear máquinas virtuales de una forma sencilla. Solo llena y personaliza los
              campos que están abajo.
            </p>
          </div>
        </div>


        <!-- ACCORDION PARA MOSTRAR SE ESTÁ CREANDO LA VM -->
        <div class="px-4" id="machineCreatedSuccessful" style="display: none;">

          <div class="accordion">
            <div class="accordion-item">
              <!-- <h2 class="accordion-header">                
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelSuccessful"
                  aria-expanded="true" aria-controls="panelSuccessful-collapseOne">
                  <strong>Nombre de la máquina</strong>
                </button>
              </h2> -->
              <div id="panelSuccessful" class="accordion-collapse collapse show">
                <div class="accordion-body">

                  <div class="row mx-2">
                    <div class="spinner-border col-6" role="status">
                      <span class="visually-hidden">Creando la vm...</span>
                    </div>

                    <div class="col-6 align-self-center">
                      <h5 class="my-0">Creando tu máquina virtual . . .</h5>
                    </div>
                  </div>

                  <!-- TEST afuera dels scrí JS -->
                  <!-- <div class="d-flex align-items-center">
                    <i class="bi bi-check-circle-fill text-success me-3" style="font-size: 2rem;"></i>
                    <h5 class="mb-0">¡Máquina creada exitosamente!</h5>
                    <div class="ms-auto">
                      <a class="btn btn-success" href="/mainpage/control-machine">
                        <strong>Ver máquinas virtuales</strong>
                      </a>
                    </div>
                  </div> -->

                </div>
              </div>
            </div>
          </div>

        </div>


        <!-- FORMULARIO CON LOS DATOS DE LA MAQUINA -->
        <!-- <form method="post" action="/api/createMachine" id="formCreateMachine"> -->
        <form id="formCreateMachine" onsubmit="createMachine(event)">

          <!-- Accordion: NOMBRE DE LA MAQUINA -->
          <div class="accordion">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelNameVM"
                  aria-expanded="true" aria-controls="panelNameVM-collapseOne">
                  <strong>Nombre de la máquina</strong>
                </button>
              </h2>
              <div id="panelNameVM" class="accordion-collapse collapse show">
                <div class="accordion-body">

                  <div class="mb-3">
                    <label for="nameVM" class="form-label">Nombre</label>
                    <!-- <div class="form-text">Nombre</div> -->
                    <input type="text" class="form-control" id="nameVM"
                      placeholder="Ej: VMproYT777 o Mi Maquina Virtual" required="true">

                    <!-- TODO: Por que no se muestra???? usar .class en <form> -->
                    <!-- <div class="invalid-feedback">Pongale nombre a la máquina, por favor</div> -->

                  </div>

                </div>
              </div>
            </div>
          </div>

          <!-- Accordion: SISTEMA OPERATIVO -->
          <div class="accordion">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelSysOpVM"
                  aria-expanded="true" aria-controls="panelSysOpVM-collapseOne">
                  <strong>Sistema operativo</strong>
                </button>
              </h2>
              <div id="panelSysOpVM" class="accordion-collapse collapse show">
                <div class="accordion-body">

                  <div class="mb-3">
                    <!-- <div class="form-text">Elige el sistema operativo que se adapte mejor a tu máquina virtual</div> -->
                    <div class="form-label">Elige el sistema operativo que se adapte mejor a tu máquina virtual</div>
                  </div>

                  <!-- RadioButton-Cards con los Sistemas Operativos -->
                  <div class="row" id="osVM">

                    <!-- Card Ubuntu -->
                    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                      <label>
                        <input type="radio" name="osVM" value="Ubuntu" selected checked class="card-input-element" />
                        <div class="card card-input">
                          <div class="card-body text-center">
                            <p class="card-title">Ubuntu</p>
                          </div>
                          <img src="/web/static/img/ubuntu.png" class="card-img-top" alt="ubuntu">
                        </div>
                      </label>
                    </div>

                    <!-- Card Debian -->
                    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                      <label>
                        <input type="radio" name="osVM" value="Debian" class="card-input-element" />
                        <div class="card card-input">
                          <div class="card-body text-center">
                            <p class="card-title">Debian</p>
                          </div>
                          <img src="/web/static/img/debian.png" class="card-img-top" alt="debian">
                        </div>
                      </label>
                    </div>

                    <!-- Card Alpine -->
                    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                      <label>
                        <input type="radio" name="osVM" value="Alpine" class="card-input-element" />
                        <div class="card card-input">
                          <div class="card-body text-center">
                            <p class="card-title">Alpine</p>
                          </div>
                          <img src="/web/static/img/alpine.png" class="card-img-top" alt="alpine">
                        </div>
                      </label>
                    </div>

                    <!-- Card Fedora -->
                    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                      <label>
                        <input type="radio" name="osVM" value="Fedora" class="card-input-element" />
                        <div class="card card-input">
                          <div class="card-body text-center">
                            <p class="card-title">Fedora</p>
                          </div>
                          <img src="/web/static/img/fedora.png" class="card-img-top" alt="fedora">
                        </div>
                      </label>
                    </div>


                  </div>

                </div>
              </div>
            </div>
          </div>

          <!-- Accordion: RAM y Nucleos de la maquina -->
          <div class="accordion">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                  data-bs-target="#panelResourcesVM" aria-expanded="true" aria-controls="panelResourcesVM-collapseOne">
                  <strong>Configuración de recursos</strong>
                </button>
              </h2>
              <div id="panelResourcesVM" class="accordion-collapse collapse show">
                <div class="accordion-body">

                  <div class="row">

                    <!-- INPUT RANGE para RAM -->
                    <div class="mb-3 col-6">
                      <label for="ramVM" class="form-label">
                        <i class="fa-solid fa-memory"></i>
                        Memoria RAM:
                        <strong><span id="ramVMValue">2048 MB</span></strong>
                      </label>

                      <input type="range" id="ramVM" min="1024" max="4096" step="64" value="2048" list="ramList">
                      <!-- Datalist para poner las liniesitas -->
                      <datalist id="ramList">
                        <option value="1024"></option>
                        <option value="2048"></option>
                        <option value="3072"></option>
                        <option value="4096"></option>
                      </datalist>

                      <!-- Y este div de span para poner los valores de cada liniesita -->
                      <div class="range-marks">
                        <span>1024 MB</span>
                        <span>2048 MB</span>
                        <span>3072 MB</span>
                        <span>4096 MB</span>
                      </div>

                      <!-- Hay diversas formas de hacerlo. Como solo usar el datalist con texto pero
                           eso solo funciona en algunos navegadores y/o versiones de bootstrap.
                           Esta manera creo que es la mejor. Pone los textos y las lineas en la posicion perfecta
                      -->
                    </div>

                    <!-- INPUT RANGE para CPU -->
                    <div class="mb-3 col-6">
                      <label for="cpuVM" class="form-label">
                        <i class="fa-solid fa-microchip"></i>
                        Núcleos de procesamiento:
                        <strong><span id="cpuVMValue">1 Núcleo</span></strong>
                      </label>

                      <input type="range" class="" id="cpuVM" min="1" max="3" step="1" value="1" list="cpuList">
                      <datalist id="cpuList">
                        <option value="1">1 Núcleo</option>
                        <option value="2">2 Núcleos</option>
                        <option value="3">3 Núcleos</option>
                      </datalist>

                      <div class="range-marks">
                        <span>1 Núcleo</span>
                        <span>2 Núcleos</span>
                        <span>3 Núcleos</span>
                      </div>
                    </div>

                  </div>


                  <!-- <div class="mb-3">
                    <label for="nameVM" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nameVM"
                      placeholder="Ej: VMproYT777 o Mi Maquina Virtual">
                  </div> -->

                  <!-- <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                  </div> -->

                </div>
              </div>
            </div>
          </div>

          <!-- Accordion: Detalles avanzados -->
          <div class="accordion">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#panelAdvDetailsVM" aria-expanded="true"
                  aria-controls="panelAdvDetailsVM-collapseOne">
                  <strong>Detalles avanzados</strong>
                </button>
              </h2>
              <div id="panelAdvDetailsVM" class="accordion-collapse collapse">
                <div class="accordion-body">
                  <!-- <h5 class="card-title">Selecciona un Host </h5> -->
                  <h6 class="form-text">Selecciona en que Host quieres que esta máquina virtual quede
                    almacenada. Por defecto, la máquina se almacena un lugar aleatorio.</h6>

                  <!-- <div class="mb-3">
                    <label for="nameVM" class="form-label">Host</label>
                    <input type="text" class="form-control" id="nameVM"
                      placeholder="Ej: VMproYT777 o Mi Maquina Virtual">
                  </div> -->


                  <!-- Seleccionar lugar de creación de vm -->

                  <div class="card bg-light">
                    <div class="host-card-body container-fluid">
                      <!-- <form method="post" action="/api/checkhost" id="formulario2"> -->



                      <!-- START HOSTMACHINE-->
                      <div class="row justify-content-center mt-3" id="hostVM">


                        <!-- Para coger los valores de este grupo de radio botones: https://stackoverflow.com/questions/21673985/bootstrap-radio-button-get-selected-value-on-submitting-the-form -->
                        <!-- var OpSys = $('#OpSys input:radio:checked').val(); -->

                        {{if and $.showNewButton (eq $.showNewButton true)}}
                        <label>
                          Estas en este momento en un Host por lo que cuando
                          uses el Boton Aleatorio tendrá prioridad para este Host,
                          si este host llegase a tener problemas se utilizara
                          una seleccion aleatoria automaticamente
                        </label>
                        {{end}}

                        <!-- Card Aleatorio -->
                        <div class="col-md-3 col-lg-3 col-sm-3 pb-3 mx-auto">
                          <!-- MALDITASEA esos grids. cuando eran menos de 4 se sobreescribian las tarjeticas
                            quedaban una encima de la otra. que rabia.
                            SOLUCIONADO CON UN MARGIN X AUTO INCREIBLE. UN MARGIN???? COMO NO SE ME HABIA OCURRIDO
                            LA SOLUCION MAS SENCILLA ES LA QUE UNO PIENSA -->
                          <label>
                            <input type="radio" name="hostVM" value="0" selected checked
                              class="host-card-input-element" />

                            <div class="card card-default host-card-input">
                              <div class="host-card-body text-center">
                                <i class="fa-solid fa-desktop" style="font-size: 25px;"></i>
                                <p><strong>Aleatorio</strong></p>
                              </div>
                            </div>

                          </label>
                        </div>

                        {{range $index, $element := .hosts}}

                        <div class="col-md-3 col-lg-3 col-sm-3 pb-3 mx-auto">
                          <label>
                            <input type="radio" name="hostVM" value="{{$element.Id}}" class="host-card-input-element" />

                            <div class="card card-default host-card-input">
                              <div class="host-card-body text-center">
                                <i class="fa-solid fa-desktop" style="font-size: 25px;"></i>
                                <p>{{$element.Name}}</p>
                              </div>
                            </div>

                          </label>
                        </div>

                        {{end}}


                        <!-- ----------------------- TESTING ---------------------------- -->

                        <!-- <div class="col-md-3 col-lg-3 col-sm-3 pb-3 mx-auto">
                          <label>
                            <input type="radio" name="hostVM" class="host-card-input-element" />

                            <div class="card card-default host-card-input">
                              <div class="host-card-body text-center">
                                <i class="fa-solid fa-desktop" style="font-size: 25px;"></i>
                                <p>Host1_qwrwj</p>
                              </div>
                            </div>

                          </label>
                        </div> -->

                        <!-- ----------------------- END-TESTING ---------------------------- -->


                      </div>
                      <!-- END END END END END HOSTMACHINE-->


                    </div>
                  </div>


                </div>
              </div>

            </div>
          </div>
          <!-- Fin  Accordion: Detalles avanzados -->

          <!-- <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-success" fill="rgb(255, 255, 255)">
              CREAR MÁQUINA
            </button>
          </div> -->

          <div class="row">
            <div class="col-7">
              <p>
                <em><small>
                  <strong>Recuerda</strong> que las máquinas que creas son efímeras y <strong>una vez creadas no las puedes modificar</strong>. Asegúrate de elegir correctamente las características de tu máquina virtual.
                </small></em>
              </p>
            </div>
            <div class="col d-flex justify-content-end align-items-center align-self-start">
              <button type="submit" class="btn btn-success" fill="rgb(255, 255, 255)">
                <strong>Crear máquina</strong>
              </button>
            </div>
          </div>

        </form>


      </main>

      <!-- Footer -->
      <div class="bg-light mt-auto">
        {{template "mainpage-footer.html"}}
      </div>

    </div>
  </div>

  <script>

    function createMachine(event) {

      // Esto es pa que no me manden los datos por la URL (porque pa que sioque)
      event.preventDefault();

      nameVM = document.getElementById("nameVM").value;
      osVM = $('#osVM input:radio:checked').val();
      ramVM = document.getElementById("ramVM").value;
      cpuVM = document.getElementById("cpuVM").value;
      hostVM = $('#hostVM input:radio:checked').val();

      console.log("name: ", nameVM, " osVM: ", osVM, " ramVM: ", ramVM, " cpuVM: ", cpuVM, " hostVM: ", hostVM);

      // Con esto se oculta el formulario y se muestra la tarjetica con la info de se ha creado la vm
      const form = document.getElementById("formCreateMachine");
      form.style.display = "none";
      const machineDiv = document.getElementById("machineCreatedSuccessful");
      machineDiv.style.display = "block";

      fetch('/api/createMachine', {
        method: 'POST', // Método POST
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(
          {
            // Aqui se tiene que mandar la 'KEY' de acuerdo a "Models.VirtualMachine"
            //    * Nombre del json tags (que especifica como se Encode y Decode)
            //    * Tipo de dato (que está definido en el modelo)
            vm_name: nameVM.toString(),
            vm_usr_email: "{{.email}}", // este email es mandado desde handler jijiji
            vm_so_distro: osVM.toString(),
            vm_ram: parseInt(ramVM),
            vm_cpu: parseInt(cpuVM),
            vm_host_id: parseInt(hostVM),
          }
        ),
      })
        .then(response => {
          if (response.status === 200) {
            notifyCreateMachine()
            return response.json();
          }
          else {             
            // showAlert("No se pudo crear la maquina. Error: " + response.status+ " | "+ response.text(), "danger");
            // console.log("response text: ", response.text())

            const form = document.getElementById("formCreateMachine");
            form.style.display = "block";
            const machineDiv = document.getElementById("machineCreatedSuccessful");
            machineDiv.style.display = "none";

            response.text().then(errorText => {
              console.error("Error: " + response.status + " | " + errorText);
              showAlert("No se pudo crear la maquina. Error: " + response.status + " | " + errorText, "danger");
            });
          }          
        })
        .then(data => {
          console.log('Respuesta:', data);
        })
        .catch(error => {
          showAlert("Error al realizar la solicitud al servidor: " + error, "danger");
          console.error('Error: '+ error);
        })

      // anterior iteracion 2 
      // .then(response => response.json()) // Procesar respuesta
      // .then(data => {
      //   console.log('Respuesta:', data); // Mostrar respuesta
      // })
      // .catch(error => {
      //   console.error('Error:', error); // Manejar errores
      // });
    }
  </script>

  <script>
    document.getElementById('ramVM').addEventListener('input', function () {
      document.getElementById('ramVMValue').textContent = this.value + ' MB';
    });

    document.getElementById('cpuVM').addEventListener('input', function () {
      document.getElementById('cpuVMValue').textContent = this.value + ' Núcleo/s';
    });

    
    function showAlert(message, alertType) {
      var alertBox = document.getElementById("alert-message");
      alertBox.innerText = "" + message;
      alertBox.className = "alert alert-" + alertType;
      var alertContainer = document.getElementById("alert-container");
      alertContainer.style.display = "block";

      // Ocultar la alerta después de 5 segundos (5000 milisegundos)
      setTimeout(function () {
        alertContainer.style.display = "none";
      }, 5000);
    }

    // TODO: Estas variables que? no se usan pa na
    var successMessage = "{{ .SuccessMessage }}";
    if (successMessage !== "") {
      showAlert(successMessage, "success");
    }

    var errorMessage = "{{ .ErrorMessage }}";
    if (errorMessage !== "") {
      showAlert(errorMessage, "danger");
    }

    // Con esta funcion se le cambia la tarjetica que muestra que se está creando la vm
    // por un tarjetica que dice que ya se creó la vm
    function notifyCreateMachine() {
      const machineDiv = document.getElementById("machineCreatedSuccessful");
      machineDiv.classList.add("successful-createVM");

      const accordionBody = document.querySelector("#panelSuccessful .accordion-body");
      accordionBody.innerHTML = `
        <div class="d-flex align-items-center">
          <i class="bi bi-check-circle-fill text-success me-3" style="font-size: 2rem;"></i>
          <h5 class="mb-0">¡Máquina creada exitosamente!</h5>
          <div class="ms-auto">
            <a class="btn btn-success" href="/mainpage/control-machine">
              <strong>Ver máquinas virtuales</strong>
            </a>
          </div>
        </div>
      `;
    }

// TODO: CUAL USAR? showMessage o show Alert
    function showMessage(message, type) {
      const messageBox = document.getElementById(type === 'success' ? 'successMessage' : 'errorMessage');
      messageBox.textContent = "" + message;
      messageBox.style.display = 'block'; // Muestra el mensaje

      // Oculta el mensaje después de 5 segundos
      setTimeout(() => {
        messageBox.style.display = 'none';
      }, 5000);
    }

    
    // TESTS
    // setTimeout(function () {
    //   showAlert("No se pudo crear la maquina. Error: ", "danger");
    //   // showMessage('No se pudo crear la maquina. Error: ', 'errorMessage');
    // }, 2500);


  </script>

</body>

</html>