<!DOCTYPE html>
<html>

<head>
  <title>Desktop Cloud | Crear Disco</title>

  <link rel="stylesheet"  href="/web/static/css/createDisk.css">
  <link rel="icon" type="image/x-icon" href="/web/static/img/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="/web/static/css/mainpage.css">
  
  <!-- Bootstrap -->
  <link rel="stylesheet" href="/web/static/bootstrap/css/bootstrap.min.css">  
  <link href="/web/static/css/styles.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


  <!-- FontAwesome Icons -->
  <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
  <script src="/web/static/bootstrap/js/bootstrap.bundle.min.js"></script>  
  
  <script src="/web/static/js/mainpage.js"></script>

  <!-- <link rel="stylesheet" type="text/css" href="/web/static/css/style.css"> -->
  <link rel="stylesheet" type="text/css" href="/web/static/css/styleNavbar.css">


</head>

<body class="sb-nav-fixed">

  <!-- NAVBAR -->
  {{template "mainpage-navbar.html"}}

  <div id="layoutSidenav">
    {{template "mainpage-sidebar.html" .}}

    <div id="layoutSidenav_content">
      <main>
        <div>
          <div class="container">
            <div class="center-content">
              <!-- Mensaje de éxito -->
              <div id="successMessage" class="alert alert-success alert-dismissible fade show" role="alert" style="display:none;">
                {{ .message }}
              </div>
              <div id="errorMessage" class="alert alert-danger alert-dismissible fade show" role="alert" style="display:none;">
                {{ .message }}
                <button type="button" class="close" data-bs-dismiss="alert" aria-label="close"></button>
              </div>
              <form class="row g-3 create-form" id="createForm" method="post" action="/createDisk" onsubmit="return showSuccessMessage()">
                <h1 class="centre-tittle">
                  <i class="bi bi-disc-fill"></i> Crear Discos
                </h1>
                <hr class="my-4">

                <div class="col-md-6">
                  <label for="inputSelectName" class="form-label">Nombre del disco</label>
                  <select id="inputSelectName" class="form-select">
                    <option value="" disabled selected>Seleccione el nombre del disco</option>
                    <option value="Alpine">Alpine</option>
                    <option value="Debian">Debian</option>
                    <option value="Fedora">Fedora</option>
                    <option value="Ubuntu">Ubuntu</option>
                  </select>
                </div>

                <div class="col-md-6">
                  <label for="inputSelectDistribution" class="form-label">Distribución del sistema operativo</label>
                  <select id="inputSelectDistribution" class="form-select">
                    <option value="" disabled selected>Seleccione el tipo de distribución</option>
                    <option value="Alpine">Alpine</option>
                    <option value="Debian">Debian</option>
                    <option value="Fedora">Fedora</option>
                    <option value="Ubuntu">Ubuntu</option>
                  </select>
                </div>

                <div class="col-md-6">
                  <label for="inputRouteDisk" class="form-label">Ruta del disco<br><span style="font-size: 10pt;">Ejemplo: "C:\uqcloud\Alpine.vdi"</span></label>
                  <input type="text" class="form-control" id="inputRouteDisk" placeholder="Ingresa la ruta donde esta el disco">
                </div>

                <div class="col-md-6">
                  <label for="inputSelectArchitecture" class="form-label">Arquitectura</label>
                  <select id="inputSelectArchitecture" class="form-select">
                    <option value="" disabled selected>Seleccione el tipo de Arquitectura</option>
                    <option value="64">64</option>
                    <option value="32">32</option>
                  </select>
                </div>

                <div class="col-md-6">
                  <label for="inputSelectSystem" class="form-label">Sistema operativo</label>
                  <select id="inputSelectSystem" class="form-select">
                    <option value="" disabled selected>Seleccione el sistema operativo</option>
                    <option value="Linux">Linux</option>
                    <option value="Windows">Windows</option>
                    <option value="MacOS">MacOS</option>
                  </select>
                </div>

                <div class="col-md-6">
                  <label for="inputSelectHost" class="form-label">Host asociado</label>
                  <select id="inputSelectHost" class="form-select">
                    <option value="" disabled selected>Seleccione el host</option>
                    <! --- Las opciones se rellenan dinamicamente según los hosts registrados previamente --->
                  </select>
                </div>

                <div class="col-md-4">
                  <button type="submit" class="btn btn-primary" id="buttonCreateDisc">Crear Disco</button>
                  <button type="reset" class="btn btn-outline-secondary" id="buttonClean">Limpiar Formulario</button>
                </div>

              </form>
            </div>
          </div>
        </div>
      </main>

      <!-- Footer -->
      <div class="bg-light mt-auto">
        {{template "mainpage-footer.html"}}
      </div>
    </div>
  </div>
  <script src="/web/static/js/createDisk.js"></script>
</body>

</html>