<!DOCTYPE html>
<html>

<head>
  <title>Monitoreo Desktop Cloud Uniquindìo</title>
  <!-- <title>Desktop Cloud Uniquindio</title> -->
  <link rel="icon" type="image/x-icon" href="/web/static/img/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="/web/static/css/mainpage.css">
  
  <!-- Bootstrap -->
  <!-- <link rel="stylesheet" href="/web/static/bootstrap/css/bootstrap.min.css">   -->
  <link href="/web/static/css/styles.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

  <!-- FontAwesome Icons -->
  <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
  <script src="/web/static/bootstrap/js/bootstrap.bundle.min.js"></script>  
  
  <script src="/web/static/js/mainpage.js"></script>
</head>


<body class="sb-nav-fixed">

  <!-- NAVBAR -->
  {{template "mainpage-navbar.html"}}

  <div id="layoutSidenav">
    
    <!-- Sidebar -->
    {{template "mainpage-sidebar.html" .}}

    <div id="layoutSidenav_content">

      <main>
        
        <div class="container">
          <h1 style="text-align: center;">Centro de Monitoreo Desktop Cloud</h1>
      
          <!-- Embebido del Dashboard de Grafana -->
          <iframe
            src="http://localhost:3000/d/IV0hu1m7z/windows-exporter-dashboard?orgId=1&refresh=5s&from=1726587912893&to=1726591512893"
            width="100%" height="800px" frameborder="0"></iframe>
        </div>

      </main>

      <!-- Footer -->
      <div class="bg-light mt-auto">
        {{template "footer.html"}}
      </div>

    </div>
  </div>

</body>

</html>