<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>DesktopCloud - Documentación</title>

    <!-- TODO: CAMBIAR Favicon -->
    <link rel="icon" type="image/x-icon" href="/web/static/img/icon.png" />

</head>

<body>

  {{template "header.html"}}
    
</body>

<!-- Footer-->
<footer class="py-5 bg-dark">
    <p class="m-0 text-center text-white">GRID &copy; Desktop Cloud 2024-1</p>
</footer>

</html>