{{define "header.html"}}

<head>
  <link href="/web/static/css/header.css" rel="stylesheet">
  <script src="/web/static/js/header.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid position-relative d-flex align-items-center justify-content-between">

      <a href="/#" class="logo d-flex align-items-center me-auto me-xl-0">
        <!-- <img src="/web/static/img/quickcloud.png" alt=""> -->
        <h1 class="sitename ms-2">QuickCloud</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="/#" class="active">Inicio</a></li>
          <li><a href="/#services">Servicios</a></li>
          <!-- <li><a href="/#instances">Instancias</a></li> DEPRECATED -->
          <li><a href="/aboutus#">Cónocenos</a></li>
          <li class="dropdown"><a href="/docs"><span>Documentación</span> <i
                class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="/docs#">Estructura Base de datos</a></li>
              <li><a href="/docs#">Estado de ejecuciones</a></li>
              <li><a href="/docs#">Despliegue</a></li>
              <li class="dropdown"><a href="/docs#"><span>Arquitectura</span> <i
                    class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="/docs#">Arquitectura General</a></li>
                  <li><a href="/docs#">Servidor de Procesamiento</a></li>
                  <li><a href="/docs#">Servidor Web</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="btn-getstarted" style="cursor: pointer;" id="createMachine">Crear Máquina Personalizada</a>

    </div>
  </header>
  
  <script>
    $(document).ready(function () {
      $("#createMachine").on("click", function () {
        document.getElementById("createMachine").classList.add("disabled"); // desactivado pero con bootrap (visual)
        document.getElementById("createMachine").setAttribute("disabled", true); // desactivado nativo (funcional, ya no se le puededar cli)

        $.ajax({
          type: "POST",
          url: "/api/loginTemp",
          data: {},
          success: function (response) {
            console.log("Inicio de sesión como invitado exitoso");
            window.location.href = "/mainpage/control-machine/create-machine";
          },
          error: function (error) {
            console.error("Error al iniciar sesión como invitado", error);
          }
        });
      });
    });
  </script>


</body>

{{end}}