<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" type="image/x-icon" href="/web/static/img/favicon.ico" />
    <title>DesktopCloud - Inicio</title>

    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/web/static/css/styles.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

    <link href="/web/static/css/index.css" rel="stylesheet">
    <script src="/web/static/js/index.js"></script>

</head>

<body>

  {{template "header.html"}}

  <main class="main">

    <!-- Hero Section -->
    <section class="gradient-bg position-relative min-vh-100 overflow-hidden pt-5 align-items-center">
      <div class="text-secondary px-4 py-5 mt-5 text-center">
        <div class="py-5">
          <h1 class="display-5 fw-bold text-white">Máquinas virtuales al instante <br> con Desktop Cloud</h1>
          <div class="col-lg-6 mx-auto">
            <p class="fs-5 mb-4 text-white">Crea, gestiona y accede a máquinas virtuales con un solo clic. <br>Simplifica tu experiencia con Desktop Cloud.</p>            
          </div>
        </div>
      </div>

      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <!-- TODO: Darle una acción a este boton de crear maquina (o escoger alguna opcion de las maquina de la seccion "instancias") -->
        <a href="/#"><button type="button" class="btn btn- btn-light btn-lg px-4 me-sm-3 fw-bold">Lanzar máquina</button></a>
        <a href="/docs"><button type="button" class="btn btn- btn-outline-light btn-lg px-4 fw-bold">Documentación</button></a>
      </div>
    </section>
    <!-- /Hero Section -->


    <!-- Services Section -->
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title">
        <h2>Servicios</h2>
        <p>Descubre todas las caracteristicas y servicios que ofrece Desktop Cloud</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row row-cols-2 gy-4 align-items-center">

          <img class="col-4 offset-md-1 offset-xs-5" src="/web/static/img/maquina-volatil.png" alt="">
          <div class="col-6 offset-md-1 offset-xs-5">
            <div class="service-item d-flex">  
              <div>
                <h4 class="title">Máquinas volátiles</h4>
                <p class="description">Crea máquinas virtuales de corta duración en un entorno totalmente limpio. Toda información almacenada será eliminada una vez la Máquina Virtual sea detenida.</p>
              </div>
            </div>
          </div>

          <img class="col-4 offset-md-1 offset-xs-5 mb-3" src="/web/static/img/usuario-invitado.png" alt="">
          <div class="col-6 offset-md-1 offset-xs-5 mb-3">
            <div class="service-item d-flex">
              <div>
                <h4 class="title">Uso sin registro</h4>
                <p class="description">Para usar los servicios de Desktop Cloud no necesita registrarse.</p>
              </div>
            </div>
          </div>

          <img class="col-4 offset-md-1 offset-xs-5" src="/web/static/img/distroSO.png" alt="">
          <div class="col-6 offset-md-1 offset-xs-5">
            <div class="service-item d-flex">
              <div>
                <h4 class="title">Múltiples distribuciones</h4>
                <p class="description">Crea máquinas virtuales con diversas distribuciones de Linux, como Fedora, Ubuntu, Alpine o Debian.</p>
              </div>
            </div>
          </div>

          <!-- TODO: Agreguar más caracteristicas de Desktop Cloud si se le ocurren yeye -->
          <!--       Como agregar lo de las instancias de docker-->

        </div>

      </div>

    </section>
<!-- /Services Section -->


    <!-- Instances Section -->
    <section id="instances" class="instances section">

      <div class="container section-title">
        <h2>Instancias</h2>
        <p>Empieza a crear tus propias instancias</p>
      </div>

      <div class="container">
        <div class="row g-4">

          <div class="col-lg-4">
            <div class="instances-item">
              <h3>Estándar</h3>
              <div class="icon">
                <i class="bi bi-ubuntu"></i>
              </div>

              <ul>
                <li><i class="bi bi-check"></i> <span>Interfaz modo texto</span></li>
                <li><i class="bi bi-check"></i> <span>5 GB de almacenamiento</span></li>
                <li><i class="bi bi-check"></i> <span>1 GB de RAM</span></li>
                <li><i class="bi bi-check"></i> <span>2 Núcleos de procesamiento</span></li>
                <!-- <li class="na"><i class="bi bi-x"></i> <span>Pharetra massa massa ultricies</span></li> -->

                <!-- TODO: Revisar estos input para seleccionar maquinas, serán necesarios despues? -->
                 <!--      Cambiar el CSS de este para que tenga hover con colores y/o usar otro componente -->
                <select style="cursor: pointer;" class="form-control" id="osCreate1" name="osCreate1" required>
                  <option value="Debian">Debian</option>
                </select>
              </ul>
              <div class="text-center"><a id="guest-login-btn1" class="instance-btn">Crear Máquina</a></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="instances-item"> <!--featured : Clase para señalar la mejor opción | como resaltar-->
              <h3>Desarrollo</h3>
              <div class="icon">
                <i class="bi bi-code-square"></i>
              </div>

              <ul>
                <li><i class="bi bi-check"></i> <span>Interfaz GUI</span></li>
                <li><i class="bi bi-check"></i> <span>10 GB de almacenamiento</span></li>
                <li><i class="bi bi-check"></i> <span>2 GB de RAM</span></li>
                <li><i class="bi bi-check"></i> <span>2 Núcleos de procesamiento</span></li>
                <li><i class="bi bi-check"></i> <span>VSCode Instalado</span></li>
                <li><i class="bi bi-check"></i> <span>OpenJDK 11</span></li>
                <li><i class="bi bi-check"></i> <span>Golang 1.21</span></li>

                <select style="cursor: pointer;" class="form-control" id="osCreate2" name="osCreate2" required>
                  <option value="Mint">Linux Mint</option>
                  <option value="DebianDesarrollo">DebianDesarrollo</option>                  
                </select>
              </ul>
              <div class="text-center"><a id="guest-login-btn2" class="instance-btn">Crear Máquina</a></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="instances-item">
              <h3>Contenedores</h3>
              <div class="icon">
                <i class="bi bi-boxes"></i>
              </div>

              <ul>
                <li><i class="bi bi-check"></i> <span>Interfaz modo texto</span></li>
                <li><i class="bi bi-check"></i> <span>3 GB de almacenamiento</span></li>
                <li><i class="bi bi-check"></i> <span>6 GB de RAM</span></li>
                <li><i class="bi bi-check"></i> <span>4 Núcleos de procesamiento</span></li>
                <li><i class="bi bi-check"></i> <span>Docker y Docker-Compose</span></li>

                <select style="cursor: pointer;" class="form-control" id="osCreate3" name="osCreate3" required>
                  <option value="Ubuntu">Ubuntu</option>
                  <option value="DebianDocker">Debian Docker</option>
                </select>
              </ul>
              
              <div class="text-center"><a id="guest-login-btn3" class="instance-btn">Crear Instancia</a></div>
            </div>
          </div>


        </div>

      </div>

    </section>
    <!-- /Instances Section -->

    <!-- TODO: Faq Section -->
    <!-- Esta sección podria ser interesante incluirla, agregar las-->
    <!-- preguntas y respuestas más cómunes en esta pagina web-->    

    <!-- TODO: Call To Action Section -->
    <!-- Esta sección tambien me parece interesante, pero no se que -->
    <!-- se podría agregar ahí, o que img usar -->

  </main>

  <!-- Clients Section -->
  <section id="clients" class="clients section bg-light">
    <div class="container justify-content-center">

      <div class="row gy-4 justify-content-center">
        <div class="col-xl-2 col-md-3 col-6 client-logo">
          <img src="/web/static/img/uniquindio-logo.png" alt="">
        </div>

        <div class="col-xl-2 col-md-3 col-6 client-logo">
          <img src="/web/static/img/grid-logo.png" alt="">
        </div>
      </div>

    </div>
  </section>
  <!-- /Clients Section -->


  {{template "footer.html"}}


  <!--Script usuario invitado-->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
      $(document).ready(function () {
          $("#guest-login-btn1").on("click", function () {
              // Obtener el valor seleccionado del campo "osCreate"
              var distribucion = $("#osCreate1").val();

              $.ajax({
                  type: "POST",
                  url: "/api/loginTemp",
                  data: { osCreate: distribucion }, // Incluir el valor en los datos de la solicitud
                  success: function (response) {
                      console.log("Inicio de sesión como invitado exitoso");
                      window.location.href = "/mainpage/control-machine";
                  },
                  error: function (error) {
                      console.error("Error al iniciar sesión como invitado", error);
                  }
              });
          });
      });
  </script>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
      $(document).ready(function () {
          $("#guest-login-btn2").on("click", function () {
              // Obtener el valor seleccionado del campo "osCreate"
              var distribucion = $("#osCreate2").val();

              $.ajax({
                  type: "POST",
                  url: "/api/loginTemp",
                  data: { osCreate: distribucion }, // Incluir el valor en los datos de la solicitud
                  success: function (response) {
                      console.log("Inicio de sesión como invitado exitoso");
                      window.location.href = "/mainpage/control-machine";
                  },
                  error: function (error) {
                      console.error("Error al iniciar sesión como invitado", error);
                  }
              });
          });
      });
  </script>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
      $(document).ready(function () {
          $("#guest-login-btn3").on("click", function () {
              // Obtener el valor seleccionado del campo "osCreate"
              var distribucion = $("#osCreate3").val();

              $.ajax({
                  type: "POST",
                  url: "/api/loginTemp",
                  data: { osCreate: distribucion }, // Incluir el valor en los datos de la solicitud
                  success: function (response) {
                      console.log("Inicio de sesión como invitado exitoso");
                      window.location.href = "/mainpage/control-machine";
                  },
                  error: function (error) {
                      console.error("Error al iniciar sesión como invitado", error);
                  }
              });
          });
      });
  </script>


  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Core theme JS-->
  <script src="/web/static/scriptjs/scripts.js"></script>
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
  <!-- * *                               SB Forms JS                               * *-->
  <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</body>

</html>