{{define "mainpage-navbar.html"}}

<!-- RECORDAR: Los importes y todo lo que se hace en <head> y que necesita este template, -->
<!--           son importados desde el html que llama este html  -->
<body class="sb-nav-fixed">

  <!-- NAVBAR -->
  <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">

    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm ps-3 pe-3" id="sidebarToggle" href="#!">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Navbar Brand-->
    <a class="navbar-brand ">
      Desktop Cloud
      <img style="width: 1.9rem;" src="/web/static/img/desktop-cloud.png" alt="">
    </a>
  <!-- Botón para activar el modal -->
    <button type="button" class="btn btn-danger ms-auto me-3" data-bs-toggle="modal" data-bs-target="#warningModal" style="left: 15px">
      Terminar sesión
    </button>

  </nav>

  <!-- Modal de advertencia -->
  <div class="modal fade" id="warningModal" tabindex="-1" aria-labelledby="warningModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="warningModalLabel">Advertencia</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
          ¡CUIDADO! Si terminas la sesión perderás el acceso a las máquinas virtuales que hayas creado.
          Recuerda que estás máquinas virtuales son de corta duración y se eliminarán si terminas la sesión.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <a class="btn btn-danger text-center" href="/logout">Terminar sesión</a>
        </div>
      </div>
    </div>
  </div>


</body>

{{end}}