{{define "mainpage-navbar.html"}}

<!-- RECORDAR: Los importes y todo lo que se hace en <head> y que necesita este template, -->
<!--           son importados desde el html que llama este html  -->
<body class="sb-nav-fixed">

  <!-- NAVBAR -->
  <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">

    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm ps-3 pe-3" id="sidebarToggle" href="#!">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Navbar Brand-->
    <a class="navbar-brand ">
      QuickCloud
      <!-- <img style="width: 1.9rem;" src="/web/static/img/quickcloud.png" alt=""> -->
    </a>

    <!-- Navbar-->
    <ul class="navbar-nav d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
          aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <!-- <li><a class="dropdown-item" href="#!">Ajustes?</a></li>
          <li><a class="dropdown-item" href="#!">Activity Log?</a></li>
          <li>
            <hr class="dropdown-divider" />
          </li> -->
          <li><a class="btn btn-danger w-100 text-center" href="/logout">Desconectarse</a></li>
        </ul>
      </li>
    </ul>

  </nav>
</body>

{{end}}