{{define "mainpage-sidebar.html"}}

<!-- RECORDAR: Los importes y todo lo que se hace en <head> y que necesita este template, -->
<!--           son importados desde el html que llama este html  -->

<body class="sb-nav-fixed">

  <!-- Sidebar -->
  <div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
      <div class="sb-sidenav-menu">
        <div class="nav">

          {{ if eq .rol 1 }}
          <!---- SECCIÓN ADMIN ---->
          <div class="sb-sidenav-menu-heading">Admin</div>
          <a class="nav-link" href="/auth-admin/dashboard">
            <div class="sb-nav-link-icon">
              <i class="fas fa-tachometer-alt"></i>
            </div>
            Dashboard
          </a>
          <a class="nav-link" href="/auth-admin/create-host">
            <div class="sb-nav-link-icon">
              <i class="fa-solid fa-ghost"></i>
            </div>
            Administrar Hosts
          </a>
          <a class="nav-link" href="/auth-admin/create-disk">
            <div class="sb-nav-link-icon">
              <i class="fa-solid fa-compact-disc"></i>
            </div>
            Administrar Discos
          </a>
          {{ end }}

          <!---- SECCIÓN MÁQUINAS ---->
          <div class="sb-sidenav-menu-heading">Máquinas</div>

          <a class="nav-link" href="/mainpage/control-machine">
            <div class="sb-nav-link-icon">
              <i class="fa-solid fa-desktop"></i>
            </div>
            Máquinas
          </a>

          <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts"
            aria-expanded="false" aria-controls="collapseLayouts">
            <div class="sb-nav-link-icon">
              <i class="fa-solid fa-terminal"></i>
            </div>
            Conexiones
            <div class="sb-sidenav-collapse-arrow">
              <i class="fas fa-angle-down"></i>
            </div>
          </a>
          <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
            <nav id="listaVMEncendidas" class="sb-sidenav-menu-nested nav">              

              <div id="NoMachinesPlaceholder"><i>NO tiene maquinas encendidas</i></div>

            </nav>
          </div>

        </div>
      </div>

      <div class="sb-sidenav-footer">
        <div class="small">Usuario conectado: </div>
        {{.email}}
      </div>

    </nav>
  </div>

  <script>
    function getMachines() {
      
      $.ajax({
        url: "/api/machines", // Reemplaza con la URL correcta
        method: "GET",
        dataType: "json",
        success: function (data) {
          data.forEach(function (machine) {
            if (machine.vm_state === "Encendido") {
              listaVMs = document.getElementById("listaVMEncendidas");

              listaVMs.innerHTML = `
                <button class="nav-link" onclick="machineConnection('`+ machine.vm_ip+ `', '`+ machine.vm_name+ `')">`+ machine.vm_name+ `</button>
              `;          
              
              // <a class="nav-link"><button onclick="machineConnection(`+machine.vm_ip+`)">`+machine.vm_name+`</button></a>
              // Esto es pa que oculte ese placeholder que hay en la seccion Conexiones>
              if (placeholderVM = document.getElementById("NoMachinesPlaceholder")) {
                placeholderVM.style.display = "none";
              }
              
            }
                        
          });

        },
        error: function (error) {
          console.error("Error al obtener datos: " + error);
        }
      });

    }
    setInterval(getMachines, 5000);

    function machineConnection(vm_ip, vm_name) {
      window.location.href = "/mainpage/connection-machine?machineIP="+vm_ip+"&machineName="+vm_name;
    }
    
  </script>


</body>

{{end}}